<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=actinic\SQLExpress;          Initial Catalog=sharePhotosDB;         User Id=sa;         Password=qwerty@123"/>
  </connectionStrings>
    <system.web>
    
    </system.web>
</configuration>
